.TaskManager {
  display: flex;
  min-height: 100vh;
}
.TaskCreator {
  background-color: #f0f5f9;
  padding: 1%;
  width: 30%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TaskList {
  background-color: #c9d6df;
  flex-grow: 1;
  padding: 1%;
}
.TaskForm {
  width: 100%;
}
.TaskForm form {
  display: flex;
  flex-direction: column;
}
